<div id="detailAssignAssistant" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form action="{% url 'assign_report' %}" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Korrekturmeldung an einen IU Mitarbeiter zuweisen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><b>IU Mitarbeiter auswählen</b></p>
                    <div class="input-group mb-3">
                        <label class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="1em" fill="currentColor"
                                 class="bi bi-person-workspace" viewBox="0 0 16 16">
                                <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
                            </svg>
                        </label>
                        <select name="user_id" class="form-select">
                            {% for user, role in users.items %}
                            <option value='{{ user.id }}'>{{ user.username }} ({{ role }})</option>
                            {% endfor %}
                        </select>
                        <input name="report_id" type="text" value="{{ report.id }}" hidden>
                    </div>
                    <p class="form-text">
                        Bitte wähle aus der Liste einen IU Mitarbeiter, dem diese Korrekturmeldung zugewiesen wird.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Abbrechen</button>
                    <input class="btn btn-outline-danger" id="assign_report" type="submit" value="Zuweisen">
                </div>
            </form>
        </div>
    </div>
</div>