<div id="detailDeleteAssistant" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form action="{% url 'delete_report' report.id %}" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Korrekturmeldung löschen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="my-1 px-3">
                        <div class="my-3"><p><b>Bestätigung der Löschung</b></p>
                            <div class="input-group">
                                <span class="input-group-text btn btn-outline-primary d-flex align-middle">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="1.1em" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                    </svg>
                                </span>
                                <div class="form-floating">
                                    <input id="confirmationText" name="confirmation_text" class="form-control" type="text">
                                    <label for="confirmationText">Bestätige endgültige Löschung durch Eingabe des Titels ({{report.title}})</label>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger mt-4" role="alert">
                            <h5 class="alert-heading">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
                                    <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                </svg>
                                Hinweis
                            </h5>
                            <p>
                              <small>
                                  Das Löschen einer Korrekturmeldung ist endgültig und eine wiederherstellung nicht möglich.
                              </small>
                            </p>
                            <hr>
                            <p class="mb-0">
                              <small>Gib deshalb als Bestätigung der Löschung den Titel deiner Korrekturmeldung ({{ report.title }}) ein.</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Abbrechen</button>
                    <input class="btn btn-outline-danger" id="assign_report" type="submit" value="Korrekturmeldung endgültig löschen">
                </div>
            </form>
        </div>
    </div>
</div>