{% extends 'cms/base.html' %}
{% load static %}

{% block title %}
Korrekturmanagmentsystem
{% endblock %}


{% block body %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-bg-secondary" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock %}