{% extends "base/base.html" %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="display-4 mt-5 text-center">{{ page_title }}</h1>
        <div class="col form-group">
            <form action="{% url 'edit_report_emp' report.id %}" method="POST">
            {% csrf_token %}

                    <div class="mb-3 row">
                        <label for="status" class="col-sm-2 col-form-label">{{ form.report_status.label }}</label>
                        <div class="col-sm-10">
                            <select name="report_status" class="form-control my-1" placeholder="Status der Meldung" id="id_report_status">
                    
                                <option value="6">Abgeschlossen</option>
                              
                                <option value="3">Abgelehnt</option>
                              
                              </select>
                        </div>
                    </div>

                    <div class="mb-3 row" id="comment_input" style="display: none;">
                        <label for="comment" class="col-sm-2 col-form-label">{{ form.comment.label }}</label>
                        <div class="col-sm-10">
                            {{ form.comment }}
                        </div>
                    </div>

                <input type="submit" value="Korrekturmeldung aktualisieren" class="btn btn-outline-primary mb-3">
            </form>
        </div>
    </div>

    <script>
        const status = document.getElementById("id_report_status");
        const commentDiv = document.getElementById("comment_input");
        const commentInput = document.getElementById("id_comment");


        status.value = "{{ report.report_status }}";

        if (status.value == 3) {
            commentDiv.style.display = "flex";
            commentInput.setAttribute("required", true);
        }

        status.onchange = function() {
            if (status.value == 3) {
                commentDiv.style.display = "flex";
                commentInput.setAttribute("required", true);
            } else {
                commentDiv.style.display = "none";
                commentInput.setAttribute("required", false);
            } 
        }
    </script>
{% endblock %}